body {
  overflow: hidden;
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#fade {
  width: 25%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  padding: 25px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 15px;
}

input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
  font-family: "VT323";
}

#message-container {
  display: flex;
  margin-bottom: 0px;
  flex-wrap: wrap;
  align-items: center;
}

.message {
  color: white;
  font-size: 30px;
  font-family: "VT323";
  text-align: center;
  width: 100%;
  padding: 20px;
  opacity: 0;
  border-radius: 12px;
  margin-bottom: 20px;
}

.error {
    background-color: rgba(255, 0, 0, 0.5);
}

.info {
    background-color: rgba(76, 163, 221, 0.7);
}

#submit {
  color: white;
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

#sessionInput {
  color: rgb(80, 80, 80);
  border: none;
  background-color: rgba(150, 150, 150, 0.2);
  text-align: center;
}
