body {
  overflow: hidden;
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.desktop {
  width: 26%;
  zoom: 0.5;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
}

#fade {
  top: 50%;
  left: 50%;
  opacity: 0;
  padding: 50px;
  padding-top: 46%;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 20px;
}

#buttons {
  width: 90%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#buttonModif1 {
  margin-top: -419px;
  width: 90%;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(/img/notFound.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 600px;
  border-radius: 20px;
}

#buttonModif2{
  margin-top: 419px;
  width: 90%;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(/img/notFound.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 600px;
  border-radius: 20px;
}

#message-container {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
}

h4 {
  font-family: "VT323";
  font-size: 80px;
}

#time {
  position: absolute;
  left: 57%;
  top: 88%;
}

#timer {
  position: absolute;
  z-index: 10;
}

.message {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 55px;
  font-family: "VT323";
  text-align: center;
  width: 90%;
  padding: 25px;
  opacity: 0;
  border-radius: 12px;
}

.error {
    background-color: rgba(255, 0, 0, 0.5);
}

.info {
    background-color: rgba(76, 163, 221, 0.7);
}
